## Scraping Twitter User Accounts
- Source: https://github.com/JustAnotherArchivist/snscrape

In [ ]:
# This entire cell is executed in the command line.

pip3 install git+https://github.com/JustAnotherArchivist/snscrape.git 

# choose twitter user
# set max tweets
# more documentation on snscrape's git repo if you want to pull using other filters

# exclamation point wouldn't work

snscrape --jsonl --max-results 175000 twitter-user wsj > wsj_150k.json
snscrape --jsonl --max-results 175000 twitter-user washingtonpost > washingtonpost_175k.json
snscrape --jsonl --max-results 175000 twitter-user cnn > cnn_175k.json
snscrape --jsonl --max-results 175000 twitter-user nytimes > nytimes_175k.json
snscrape --jsonl --max-results 175000 twitter-user npr > npr_175k.json
snscrape --jsonl --max-results 175000 twitter-user abc > abc_175k.json
snscrape --jsonl --max-results 175000 twitter-user huffpost > huffpost_175k.json
snscrape --jsonl --max-results 175000 twitter-user financialtimes > financialtimes_175k.json
snscrape --jsonl --max-results 175000 twitter-user forbes > forbes_175k.json
snscrape --jsonl --max-results 175000 twitter-user nbcnews > nbcnews_175k.json
snscrape --jsonl --max-results 175000 twitter-user reuters > reuters_175k.json
snscrape --jsonl --max-results 175000 twitter-user bbcworld > bbcworld_175k.json
snscrape --jsonl --max-results 175000 twitter-user ap > ap_175k.json
snscrape --jsonl --max-results 175000 twitter-user business > business_175k.json
snscrape --jsonl --max-results 175000 twitter-user nypost > nypost_175k.json

In [2]:
import json
import pandas as pd

In [1]:
# JUPYTER NOTEBOOK: make sure your JSON file is in the same folder as your jupyter notebook


import json
import pandas as pd

user_list = ['wsj', 'washingtonpost','cnn', 'nytimes', 'npr', 'abc', 'huffpost', 'financialtimes', 'forbes', 'nbcnews', 'reuters', 'bbcworld', 'ap', 'business', 'nypost']

table = []
for user in user_list:
    with open(user + '_35000.json', 'r') as f:
        for line in f:
            table.append(json.loads(line))

FileNotFoundError: [Errno 2] No such file or directory: 'wsj_35000.json'

In [3]:
type(table)

list

In [4]:
len(table)

525000

In [6]:
# Create dataframe from table

df = pd.DataFrame(table)

In [9]:
# Sets up dataframe with user info, date, and tweet content
df = df[['user', 'date', 'content']]

In [10]:
df

,user,date,content
0,"{'username': 'WSJ', 'displayname': 'The Wall S...",2020-11-01T19:10:08+00:00,"Biden leads Trump among Hispanic voters, 62% t..."
1,"{'username': 'WSJ', 'displayname': 'The Wall S...",2020-11-01T19:00:18+00:00,“We can’t keep up with the laundry.” Covid-19 ...
2,"{'username': 'WSJ', 'displayname': 'The Wall S...",2020-11-01T18:45:09+00:00,A large English study showed the number of peo...
3,"{'username': 'WSJ', 'displayname': 'The Wall S...",2020-11-01T18:30:07+00:00,"The leaders of Microsoft, Coca-Cola, American ..."
4,"{'username': 'WSJ', 'displayname': 'The Wall S...",2020-11-01T18:20:03+00:00,"After seven months of isolation, the pull of g..."
...,...,...,...
524995,"{'username': 'nypost', 'displayname': 'New Yor...",2020-05-12T00:14:01+00:00,Tiny cookie cereal and mini pancakes are big o...
524996,"{'username': 'nypost', 'displayname': 'New Yor...",2020-05-12T00:14:00+00:00,'Devastated' subway driver after knife attack:...
524997,"{'username': 'nypost', 'displayname': 'New Yor...",2020-05-12T00:01:03+00:00,Crew members stage hunger strike to get cruise...
524998,"{'username': 'nypost', 'displayname': 'New Yor...",2020-05-11T23:53:30+00:00,Hero of the Day: Parks officer works 28 days s...
524999,"{'username': 'nypost', 'displayname': 'New Yor...",2020-05-11T23:53:29+00:00,MLB players' excruciating decision may cause r...

In [11]:
# Converts to csv

df.to_csv (r'/Users/Tara8082/GIT/ProjectGIT/Project_4.csv', index = False, header=True)

## JUMBO DATAFRAME of all username's headlines

In [3]:
user_list = ['wsj', 'washingtonpost','cnn', 'nytimes', 'npr', 'abc', 'huffpost', 'financialtimes', 'forbes', 'nbcnews', 'reuters', 'bbcworld', 'ap', 'business', 'nypost']

path = '/Users/Tara8082/GIT/ProjectGIT/Project_4/jumbo_json/'

table2 = []
for user in user_list:
    with open(path + user + '_175k.json', 'r') as f:
        for line in f:
            table2.append(json.loads(line))

In [4]:
df2 = pd.DataFrame(table2)

In [5]:
df2 = df2[['user', 'date', 'content']]

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448364 entries, 0 to 2448363
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   user     object
 1   date     object
 2   content  object
dtypes: object(3)
memory usage: 56.0+ MB

In [7]:
df2.to_csv (r'/Users/Tara8082/GIT/ProjectGIT/jumbo_headlines.csv', index = False, header=True)